<h2>Edit Post</h2>
<form action="/edit/<%= post.id %>" method="post" class="base-form">
  <input type="hidden" name="id" value="<%= post.id %>" />
  <label for="title">Title:</label>
  <input
    type="text"
    id="title"
    name="title"
    value="<%= post.title %>"
    required
  />
  <label for="content">Content:</label>
  <textarea id="content" name="content" required><%= post.content %></textarea>
  <button type="submit">Update Post</button>
</form>
<a href="/" class="button home-btn">Back to Home</a>
